#tune {
  .top-bar {
    box-shadow: 0px -1px 0px 0px #dcdfe1 inset;
  }
  .back-button {
    flex: 1;
    padding: 16px;
    cursor: pointer;
  }
  form {
    max-width: 464px;
    margin: 32px auto;
  }
}
