.small {
  color: map-get($colors, 'primary');
  font-size: 12px;
  line-height: 16px;
}

.small-400 {
  @extend .small;
  font-weight: normal;
}

.small-400-secondary {
  @extend .small-400;
  color: map-get($colors, 'secondary');
}

.small-700 {
  @extend .small;
  font-weight: bold;
}

.medium {
  color: map-get($colors, 'primary');
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.medium-400 {
  @extend .medium;
  font-weight: normal;
}
.medium-700 {
  @extend .medium;
  font-weight: bold;
}

.heading-1 {
  color: map-get($colors, 'primary');
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.heading-2 {
  color: map-get($colors, 'primary');
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.heading-3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.heading-4 {
  color: map-get($colors, 'primary');
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.heading-5 {
  color: map-get($colors, 'primary');
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
